# Managed by Ansible. Local changes will be overwritten.
export TIMELINE_API_URL={{ ase_agent_api_url | regex_replace('/+$', '') | quote }}
export TIMELINE_API_TOKEN={{ ase_agent_api_token | quote }}
export TIMELINE_HOST={{ ase_agent_host | quote }}
export TIMELINE_SOURCE={{ ase_agent_source | quote }}
export TIMELINE_REPORTER={{ (ase_agent_install_dir ~ '/report-execution.sh') | quote }}
