[{{ cli_fqdn }}]

listen = /var/run/php81-fpm.{{ cli_fqdn }}.socket
;listen.backlog = -1

listen.owner = nginx
listen.group = nginx
listen.mode = 0660

; Unix user/group of processes
user = {{ cli_user }}
group = {{ cli_user }}

; Choose how the process manager will control the number of child processes.
pm = ondemand
pm.max_children = 2
pm.start_servers = 1
pm.min_spare_servers = 1
pm.max_spare_servers = 3
pm.max_requests = 500
pm.process_idle_timeout = 60

; Pass environment variables
;env[HOSTNAME] = $HOSTNAME
;env[PATH] = /usr/local/bin:/usr/bin:/bin
;env[TMP] = /tmp
;env[TMPDIR] = /tmp
;env[TEMP] = /tmp

; host-specific php ini settings here
php_admin_value[open_basedir] = /home/{{ cli_user }}/www:/tmp
;security.limit_extensions = .php .php3 .php4 .php5 .html

chdir = /
